[submodule "components/M5GFX"]
	path = components/M5GFX
	url = https://github.com/m5stack/M5GFX.git
[submodule "components/M5Unified"]
	path = components/M5Unified
	url = https://github.com/m5stack/M5Unified.git
